@charset "utf-8";
div#tv-radio{
	width:900px;
	height:580px;
	margin:auto;
	background: url("E:/Site/Segundo site/projeto-glass-html5/Segundo_Site/_imagens/radio-tv.png") no-repeat;
}
audio#musica{
	display:block;
	position:relative;
	left:580px;
	top:490px;
	width:300px;
}
video#filme{
	display:block;
	position:relative;
	left:90px;
	top:85px;
	width:440px;

}